* {
     margin: 0;
     padding: 0;
    }
	
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
	width: 100%;
	background: black;
    background-blend-mode: darken;
    background-size: cover;
}
		
.head {
    width: 100%;
    display: flex;
    align-items: center;
	color:white;
	padding: 26px 30px;
	text-decoration: none;
	cursor: auto;
 }
	
.name{
	letter-spacing:4px;
}
	

.text{
	padding:0.01em 16px;
	text-align:center!important;
	margin-left:auto;
	margin-right:auto;
	max-width:980px;
	padding-top:80px;
	padding-bottom: 80px;
	line-height: 1.4em;
}

.article{
	text-align:justify!important;
}
	
.gallery tr{
	letter-spacing:4px;
}

table {
    width: 100%;
}

table, th, td {
    background-color: #f1f1f1;
}

th {
    height: 80%;
    padding: 1%;
	width: auto;
}

#gal-name{
	height: 35px;
    padding: 1%;
	width: auto;
}
.image {
    float: left;
    width:  40px;
    height: 500px;
    object-fit: cover;
}

.footer {
	padding-top: 26px;
	padding-bottom: 26px;
}

.footer p{
	color:white;
}

